/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: rgba(22, 7, 65, 0.6);
    --font-color: whitesmoke;

}

body {
    /* background-image: url('/images/background.jpg'); */
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/background.jpg);
}

/*HEADER*/

header {
    /* background-color: rgba(22, 7, 65, 0.713); */
    background-color: rgba(22, 7, 65, 0.7);

    text-align: center;
    color: whitesmoke;
    padding: 10px 15px;
    color: var(--font-color)
}

/*MAIN*/
main {
    display: flex;
}

/*ASIDE - form + search btn container*/
.search-city-container {
    width: 20vw;
    margin: 10px 15px;
}

form {
    display: flex;
    flex-direction: column;
    border-bottom: 4px solid rgba(128, 128, 128, 0.478);
    padding-bottom: 10px;
}

form .search-label {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0;
}

form .search-input {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    margin: 10px 0;
}

form input {
    background-color: rgba(22, 7, 65, 0);
    color: var(--font-color)
}

/*button styles*/
.search-btn {
    padding: 8px 16px;
    cursor: pointer;
}

.city-btn-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.city-btn-container .city-btn {
    padding: 8px 16px;
    margin: 5px 0;
    cursor: pointer;
}

/*SECTION - weather info styles*/

.city-weather-info {
    border: 1px solid var(--background-color);
    border-radius: 10px;
    width: 75vw;
    margin: 10px 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    color: var(--font-color);

}

.city-weather-info h1 {
    font-size: 28px;
}

.city-weather-info p {
    font-size: 18px;
    margin: 10px;
}


.forecast-container {
    display: flex;
    justify-content: center;

}



.title {
    padding: 10px 0;
    text-align: center;
}

.weather-box {
    background-color: var(--background-color);
    color: var(--font-color);
    margin: 5px;
    padding: 10px;
    width: 190px;
    font-size: 18px;
    border-radius: 5px;
    margin: 0 20px;
}

.weather-box p,
h3 {
    margin: 15px;
}

i {
    margin: 10px 5px;

}

.icon-container {
    display: flex;
    justify-content: center;

}

button {
    /* background-color: #2D8CCB; */
    background-color: var(--background-color);
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    color: var(--font-color);

}